.footer {
  border-top: 1px solid lightgray;
  padding: 25px;
  background-color: #f7f7f7;
  bottom: 0;
  text-align: center;
  margin-top: 20px;
}

.footer > p {
  font-size: 14px;
  padding: 5px;
}
