.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  position: sticky;
  background-color: #fff;
  z-index: 100;
  width: 100%;
}

.header__icon {
  object-fit: contain;
  height: 100px;
  margin-left: 20px;
}

.header__center {
  display: flex;
  flex: 1;
  align-items: center;
  max-width: fit-content;
  padding: 10px;
  height: 30px;
  border: 1px solid lightgray;
  border-radius: 30px;
}

.header__center > input {
  border: none;
  outline: none;
  width: 250px;
}

.header__right {
  display: flex;
  align-items: center;
  width: 15vw;
  margin-right: 70px;
  justify-content: space-between;
}

.header__right > button p {
  text-transform: capitalize;
  cursor: pointer;
  font-size: 13px;
}
